<div class="row card-deck text-center">
  <div *ngFor="let item of items" class="col-lg-4 ">
    <div class="card mb-4"  >
      <img height="50%" class="card-img-top" src="{{item.imageUrl}}" alt="{{item.name}}">
      <div class="card-body">
        <h4 class="card-title ">{{item.name}}</h4>
        <div class="text-left">
          <p class="card-test"><strong>Description: </strong>{{item.description}}</p>
          <p class="card-text"><strong>Price: </strong>{{item.price | currency}}</p>
        </div>
        <br>

        <div class="float-left">
          <a routerLink="/item-detail/{{item.id}}" class="btn btn-success">more details</a>
        </div>
        <a (click)="deleteItem(item.id)" class="btn btn-danger">Delete</a>

      </div>
    </div>
  </div>
</div>
